INFOPLIST_FILE = drawterm-Info.plist

DRAWTERM_VERSION = 0.5.2

ALWAYS_SEARCH_USER_PATHS = NO

HEADER_SEARCH_PATHS = "$(PROJECT_DIR)/../include" "$(PROJECT_DIR)/.."
OTHER_CFLAGS = $(OTHER_CFLAGS) -DPTHREAD -DDRAWTERM_VERSION=\"d$DRAWTERM_VERSION\"

IPHONEOS_DEPLOYMENT_TARGET = 7.0

SDKROOT = iphoneos7.0
